<svg:g>
  <rect [attr.x]="-leftPadding" [attr.y]="-topPadding" [attr.width]="widthWithScale + leftPadding"
    [attr.height]="heightWithScale + topPadding" class="background" />
  <g>
    <line *ngFor="let horizontalLine of horizontalLines" [attr.x1]="horizontalLine.startPoint.x"
      [attr.y1]="horizontalLine.startPoint.y" [attr.x2]="horizontalLine.endPoint.x"
      [attr.y2]="horizontalLine.endPoint.y" class="grid-line" />
  </g>
  <g>
    <line *ngFor="let verticalLine of verticalLines" [attr.x1]="verticalLine.startPoint.x"
      [attr.y1]="verticalLine.startPoint.y" [attr.x2]="verticalLine.endPoint.x" [attr.y2]="verticalLine.endPoint.y"
      class="grid-line" />
  </g>
</svg:g>
